{% extends 'base.html' %}

{% block title %}
    Вопросы
{% endblock %}

{% block body %}
    <div class="container">
        <div class="list-group">
            {% for question in test.questions.all %}
                <div class="alert alert-success">
                    <p class="list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                                <h5>{{ question.text }}</h5>
                            <small class="text-center border p-1 alert-primary">
                            </small>
                        </div>
                    </p>
                </div>
            {% endfor %}
        </div>
        <br>
        {% include 'partial/pagination.html' %}
    </div>

{% endblock %}